.log-dialog-action {
  p{
    padding: center;
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  }
  
  .log-dialog-content {
    p {
      padding: 2px; 
    }
  }