<h2>Dodaj lek</h2>
<mat-form-field class="full-width">
  <mat-label>Nazwa leku</mat-label>
  <input type="text" [(ngModel)]="newMedicine.name" matInput placeholder="Nazwa" />
</mat-form-field>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Data rozpoczęcia terapii</mat-label>
    <input matInput [matDatepicker]="picker1" [(ngModel)]="newMedicine.startDate" />
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Data zakończenia terapii</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="newMedicine.endDate" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Ilość dawek dziennie</mat-label>
    <input type="number" [(ngModel)]="newMedicine.dosePerDay" matInput placeholder="Dawkowanie" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="add()" cdkFocusInitial>Ok</button>
</div>
