@import '../../../../sass/abstract/variables';

.mat-toolbar-multiple-rows {
  min-height: $mat-toolbar-height;

  .mat-toolbar-row {
    height: $mat-toolbar-height;
  }
  .spacer {
    flex: 1 1 auto;
  }
}
