<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="spacer"></span>
      <a class="navbar-item">
        <img src="assets/img/logo.png" width="68" height="68" >
      </a>
 
    <a *ngIf="!(user | async)?.uid" mat-button routerLink="/signup">Rejestracja</a>
    <a *ngIf="!(user | async)?.uid" mat-button routerLink="/login">Logowanie</a>

    <a *ngIf="(user | async)?.uid" mat-button>Witaj {{ username }}</a>

    <a *ngIf="(user | async)?.uid" (click)="logout()" mat-button>Wyloguj</a>
  </mat-toolbar-row>
</mat-toolbar>
