<!-- <div class="container">
  <div class="loginCard">
    <h2 class="heading">Log In</h2>
    <input [(ngModel)]="email" type="email" name="email" class="formInput" />
    <input type="password" [(ngModel)]="password" name="password" class="formInput" />
    <button class="btn" id="btn-login" (click)="login()">
      Log In
    </button>
  </div>
</div> -->
<mat-toolbar>
  <span>Logowanie</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form">
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  [(ngModel)]="email"  matInput  placeholder="email"  name="uname"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Hasło</mat-label>
            <input [(ngModel)]="password" matInput  placeholder="Hasło" name="password">
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Zaloguj</button>
   </mat-card-actions>
</mat-card>