<div class="container">
  <mat-card class="my-card">
    <mat-toolbar class="mat-toolbar">
      <label class="label">Rejestracja</label>
    </mat-toolbar>
    <mat-card-content>
      <img class="img-logo" src="assets/img/logo.png" />

      <form [formGroup]="registerForm" class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Token</mat-label>
          <input matInput placeholder="Token" formControlName="token" required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Nazwa użytkownika</mat-label>
          <input matInput placeholder="Nazwa użytkownika" formControlName="username" required />
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Hasło</mat-label>
          <input type="password" matInput placeholder="Hasło" formControlName="password" required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Powtórz hasło</mat-label>
          <input
            type="password"
            matInput
            placeholder="Powtórz hasło"
            formControlName="repeat_password"
            name="passwordr"
            required
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn" mat-raised-button (click)="signUp()" color="primary">Zarejestruj</button>
    </mat-card-actions>
  </mat-card>
</div>
