<div ngxUiLoaderBlurred *ngIf="currentUser" class="mainContent">
  <div class="userListWrapper">
    <app-user-list [currentUser]="currentUser" (changeUserRoom)="changeUserRoomEvent($event)"> </app-user-list>
    <img class="img-chat" src="assets/img/chat.jpg" width="90px" height="70px" />
  </div>

  <ng-container *ngIf="roomUser && currentUser">
    <div class="chatContainer">
      <div class="usernameWrapper">
        <h1 class="header">{{ roomUser.firstName }} {{ roomUser.lastName }}</h1>
      </div>
      <div #scroller class="feedWrapper" (scroll)="onScroll()">
        <app-feed [roomUser]="roomUser"></app-feed>
      </div>
      <div class="chatFormWrapper">
        <app-chat-form [roomUserId]="roomUser.id"></app-chat-form>
      </div>
    </div>

    <div class="medicineFormWrapper">
      <div><button mat-button (click)="checkMedicineOrHistory()">Zmień</button></div>
      <div *ngIf="medicine">
        <div>
          <app-medicine-list
            [roomUserEmail]="roomUser.email"
            [currentUserEmail]="currentUser.email"
            [userType]="currentUser.userType"
          ></app-medicine-list>
        </div>
      </div>
      <div *ngIf="!medicine">
        <div>
          <app-history
            [roomUserEmail]="roomUser.email"
            [currentUserEmail]="currentUser.email"
            [userType]="currentUser.userType"
          ></app-history>
        </div>
      </div>
    </div>
  </ng-container>
</div>
