<div class="mainContent">
  <div class="userListWrapper">
    <app-user-list (changeUserRoom)="changeUserRoomEvent($event)"></app-user-list>
  </div>
  <div *ngIf="roomUser" class="chatContainer">
    <div class="usernameWrapper">
      <h1 class="header">{{ roomUser.username }}</h1>
    </div>
    <div #scroller class="feedWrapper" (scroll)="onScroll()">
      <app-feed [roomUser]="roomUser"></app-feed>
    </div>
    <div class="chatFormWrapper">
      <app-chat-form [roomUserId]="roomUser.id"></app-chat-form>
    </div>
  </div>

  <div class="medicineFormWrapper">
    <app-medicine-list></app-medicine-list>
  </div>
</div>
