@import '../../../../sass/abstract/variables';

$chat-form-height: 40px;
$usernameWrapper-height: 50px;

.mainContent {
  display: flex;
}

.userListWrapper {
  background-color: white;
  color: #fff;
  display: flex;
  font-size: $font-size;
  flex: 1;
  order: 1;
  border-right: 1px solid #222;
  .img-chat {
    margin-top: 470px;
  }
}

.chatContainer {
  flex: 5;
  order: 2;
  height: calc(100vh - #{$mat-toolbar-height});

  .usernameWrapper {
    height: $usernameWrapper-height;
  }

  .chatFormWrapper {
    display: flex;
    height: $chat-form-height;
    z-index: 3;
  }
}

.medicineFormWrapper {
  background-color: #2a2845;
  color: #fff;
  display: flex;
  font-size: $font-size;
  flex: 1;
  order: 3;
  border-right: 1px solid #222;
}
