@import '../../../../sass/abstract/variables';

$chat-form-height: 40px;
$usernameWrapper-height: 50px;

.feed {
  display: flex;
  flex-direction: column;
}

.message {
  flex-direction: column;
  margin: 10px 0;
}

.feedWrapper {
  // background: linear-gradient(181deg, rgba(100, 200, 255, 0.6), rgba(0, 0, 0, 0.9)),
  //   url('../../assets/img/chat-bg-1.png') center center no-repeat;
  font-size: $font-size;
  overflow-y: auto;
  height: calc(100% - #{$chat-form-height} - #{$usernameWrapper-height});
}

#scroll-style::-webkit-scrollbar-track {
  border-radius: 10px;
}
