<mat-toolbar>
  <span>Rejestracja</span>
</mat-toolbar>
<mat-card class="my-card">
   <mat-card-content>
      <form class="my-form">  
         <mat-form-field class="full-width">
            <mat-label>Nazwa użytkownika</mat-label>
            <input  matInput  placeholder="User name"  name="uname"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Token</mat-label>
            <input  matInput  placeholder="Token" name="Token"  required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Hasło</mat-label>
            <input  matInput  placeholder="Hasło"  name="password">
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Powtórz hasło</mat-label>
            <input  matInput  placeholder="Powtórz hasło"  name="passwordr">
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="register()" color="primary">Zarejestruj</button>
   </mat-card-actions>
</mat-card>