// $font-size: 1em;
@import '../../../../sass/abstract/variables';

.chatInput {
  flex: 10;
  font-size: $font-size;
  font-family: 'Open Sans', sans-serif;
  background-color: #a098a549;
  color: #000;
  transition: 0.1s ease-out;
  padding-left: 80px;

  border-top: rgb(117, 117, 117) solid 1px;
}

.chatInput:focus {
  transition: 0.2s ease-in;
}

.chatButton {
  flex: 1;
  padding: 10px;
  padding: 8px 24px;
  font-size: $font-size;
  font-family: 'Droid Sans', sans-serif;
    background-color: #5c6bc0;
  color: white;
  transition: 0.2s ease-out;
  min-width: 50px;
}

.chatButton:hover {
  background-color: #444;
}
